## Observations and Insights

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
from scipy.stats import sem
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
df_data = pd.merge(mouse_metadata, study_results, how = 'outer', on = "Mouse ID")
df_data.head()

# Display the data table for preview

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
# Checking the number of mice.
mouse = df_data["Mouse ID"].unique()
total_mice = len(mouse)

pd.DataFrame({"Number of Mice": [total_mice]})

   Number of Mice
0             249

In [25]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
df_data["Mouse ID"].value_counts().head()

g989    13
o926    10
q787    10
c832    10
e213    10
Name: Mouse ID, dtype: int64

In [28]:
# Optional: Get all the data for the duplicate mouse ID. 
df_data_mice = df_data.set_index("Mouse ID")
mouse = df_data_mice.loc['g989', :]
mouse.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,0,45.000000,0
g989,Propriva,Female,21,26,5,48.786801,0
g989,Propriva,Female,21,26,5,47.570392,0
g989,Propriva,Female,21,26,10,51.745156,0

In [39]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mice_data = df_data_mice.drop(index = "g989")
clean_df_data = clean_mice_data.reset_index()
clean_df_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [36]:
# Checking the number of mice in the clean DataFrame.
clean_mice = clean_df_data["Mouse ID"].value_counts()
clean_number_of_mice = len(clean_mice)
print(clean_number_of_mice)

248

## Summary Statistics

In [45]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
df_summary = df_data.groupby("Drug Regimen")

# mean, median, variance, standard deviation, and SEM of the tumor volume.
tumor_mean = df_summary["Tumor Volume(mm3)"].mean()
tumor_median = df_summary["Tumor Volume(mm3)"].median()
tumor_stdev = df_summary["Tumor Volume(mm3)"].std()
tumor_sem = df_summary["Tumor Volume(mm3)"].sem()

# Assemble the resulting series into a single summary dataframe.
df_grouped_summary = pd.DataFrame({"Mean":tumor_mean,"Median":tumor_median,"Standard Deviation":tumor_stdev,"SEM":tumor_sem})

df_grouped_summary.head()

KeyError: 'Column not found: Tumor Volume(mm3)'

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen